body {
    width: 100%;
    height: 100%;
}

#siteContainer {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

#GBAContainer {
    background-color: mediumpurple;
    display: block;
    margin: 0 auto;
}

#GBAContainer #screenContainer {
    width: 87.6%;
    height: 46%;
    background-color: black;
    margin: 0 auto;
    position: relative;
    top: 4%;
}

#GBAContainer #screenContainer #screen {
    width: 62.6%;
    height: 63.07%;
    margin: auto;
    top: 12.48%;
    position: relative;
    overflow: hidden;
}
